[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "0.115.3"
uvicorn = "0.32.0"
pydantic = "2.9.2"

[dev-packages]
pytest = "8.3.3"
httpx = "0.27.2"
pytest-asyncio = "*"

[requires]
python_version = "3.10"
